body{
    font-family: 'Quicksand',sans-serif;
}
.start-page{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    background-image: linear-gradient(331deg, rgb(104, 176, 77) 22.345%, rgb(96, 164, 176) 51.004%, rgb(96, 164, 176) 76.8677%);
}


.start-page-text{
    font-size: 90px;
    font-weight: 600;
    color: #1b1b1e;
    width: 900px;

}
.blue{
    color: #002950
}
.vibebyte-media{
    background-color: #002950;
    color: #ADEFD1;
    display: inline-block;
}

.start-page-details{
    font-size: 20px;
    color: white;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    padding: 120px;
}

.our-services-text{
    font-size: 80px;
    font-weight: 600;
    color: #ADEFD1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.our-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #002950;
    padding-bottom: 40px;
   
}

.services{  
    color: #ADEFD1;
    font-size: 42px;
    font-weight: 200;
    display: grid;
    column-gap: 200px;
    grid-template-columns: 500px 500px;
    text-align: center;
    
}
.service{
    position: relative;
}
.service-label{
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.service img{
    width: 200px;
}

.green-square{
    position: absolute;
    top: -10px;
    left: 450px;
    width: 40px;
    height: 10px;
    background-color: #ADEFD1;
}

.contacts{
    font-size: 80px;
    font-weight: 800;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 170px 0px;
    background-image: radial-gradient(circle at 68.33333333333333% 78.33333333333333%, #002E5D 0%, 17.5%, rgba(0,46,93,0) 35%), radial-gradient(circle at 46.66784922281901% 48.28361511230469%, #002E5D 0%, 17.5%, rgba(0,46,93,0) 35%), radial-gradient(circle at 100% 60.40482838948568%, #68B04D 0%, 17.5%, rgba(104,176,77,0) 35%), radial-gradient(circle at 37.203776041666664% 11.217447916666666%, #1B1B1E 0%, 17.5%, rgba(27,27,30,0) 35%), radial-gradient(circle at 86.66666666666667% 18.333333333333332%, #1B1B1E 0%, 20%, rgba(27,27,30,0) 40%), radial-gradient(circle at 20.910274187723797% 86.1624018351237%, rgba(0,46,93,0.99) 0%, 25%, rgba(0,46,93,0) 50%), radial-gradient(circle at 11.440577507019043% 17.223010063171387%, #1B1B1E 0%, 42%, rgba(27,27,30,0) 70%), radial-gradient(circle at 63.71330261230469% 8.88967752456665%, #1B1B1E 0%, 42%, rgba(27,27,30,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}

.icons{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.icon-div{
    width: 100px;
    height: 100px;
}
.icons img{
    width: 94px;
    object-fit: cover;
    object-position: center;
    transition: 0.15s width;
}

.icons img:hover{
    width: 100px;
}

.footer{
    background-color: #002950;
    color: white;
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}



@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .nav-bar {
        gap: 20px;
         /* Reduce the gap between buttons on smaller screens */
    }

    .logo {
        width: 80px; /* Adjust the logo size for smaller screens */
    }
    .buttons{
    }

    .section-button {
        font-size: 12px; /* Decrease button font size for smaller screens */
    }

    .start-page-text {
        font-size: 60px; /* Decrease font size for the start page text */
        width: 100%; /* Make the text span the full width on smaller screens */
        padding: 20px; /* Decrease padding on smaller screens */
    }

    .vibebyte-media {
        font-size: 60px; /* Decrease font size for VibeByte Media */
        padding: 10px; /* Decrease padding on smaller screens */
    }

    .start-page-details {
        font-size: 14px; /* Decrease font size for start page details */
        padding: 50px; /* Decrease padding on smaller screens */
    }

    .our-services-text {
        font-size: 50px; /* Decrease font size for our services text */
    }

    .services {
        font-size: 30px; /* Decrease font size for services on smaller screens */
        padding-top: 20px; /* Decrease padding on smaller screens */
        column-gap: 10px; /* Reduce the gap between service items */
        grid-template-columns: 1fr;
        row-gap: 70px; /* Display services in a single column */
    }

    .contacts {
        font-size: 50px; /* Decrease font size for contact us section */
        padding: 120px 0; /* Decrease padding on smaller screens */
        text-align: center;
    }

    .icons {
        padding-top: 20px; /* Decrease padding on smaller screens */
    }

    .icon-div {
        width: 60px; /* Decrease icon div width on smaller screens */
        height: 60px; /* Decrease icon div height on smaller screens */
    }

    .icons img {
        width: 60px; /* Decrease icon size on smaller screens */
    }

    .footer {
        padding-left: 20px; /* Decrease left padding on smaller screens */
        padding-top: 20px; /* Decrease top padding on smaller screens */
        padding-bottom: 20px; /* Decrease bottom padding on smaller screens */
    }
}

