.nav-bar-container{
    background-color: #002950;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0px;
    
    
}
.nav-bar{
    display: flex;
    gap: 650px;

}
body{
    margin: 0;
}
.logo{
    width: 106px;
}
.logo-container{
    flex-grow: 1;
}
.section-button{
    background-color: transparent;
    border: none;
    color: #ADEFD1;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.15s;
}

.section-button::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ADEFD1;
    display: block;
    margin: auto;
    transition: 0.30s;
}

.section-button:hover::after{
    width: 100%;

}
.section-button:hover{
    color: white;
}
.buttons{
    gap: 20px;
    display: flex;
}

