.nav-bar{
    background-color: #002950;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 400px;
    
}
body{
    margin: 0;
    
}
.logo{
    width: 106px;
}
.logo-container{
    flex-grow: 1;
}
.section-button{
    background-color: transparent;
    border: none;
    color: #ADEFD1;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.15s;
}
.section-button:hover{
    color: white;
}
.buttons{
    gap: 20px;
    display: flex;
}

